body, html {
  height: 100%;
  background-color: #0a0f1a;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

input,
select {
  width: 80%;
  padding: 8px;
  margin: 3px 0;
  border-radius: 9px;
  border: 1px solid #ccc;
  font-size: 14px;
}

button {
  background-color: #e5e6e9;
  width: 30%;
  margin-top: 25px;
  border-radius: 20px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #aab3cc;
}

p {
  margin-top: 20px;
  font-weight: bold;
  color: #333;
  font-size: 17px;
}